<div class="container">
  <div class="d-flex" style="height: 100vh">
    <div class="col-5 mx-auto align-self-center">
      <h1>TODO LAH</h1>
      <form action="/auth/login" method="POST">
        <div class="form-row">
          <input name="email" class="form-control mb-3" />
        </div>
        <div class="form-row mb-3">
          <input name="password" type="password" class="form-control" />
        </div>
        <div class="form-row mb-3">
          <button type="submit" class="btn btn-block btn-primary">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
