<div class="container">
  <div class="d-flex" style="height: 100vh">
    <div class="col-5 mx-auto align-self-center">
      <h1>TODO LAH</h1>
      <form action="/auth/register" method="POST">
        <div class="form-row mb-3">
          <input
            name="firstname"
            placeholder="firstname"
            class="form-control"
          />
        </div>
        <div class="form-row mb-3">
          <input placeholder="lastname" name="lastname" class="form-control" />
        </div>
        <div class="form-row mb-3">
          <input name="email" placeholder="email" class="form-control" />
        </div>
        <div class="form-row mb-3">
          <input
            placeholder="******"
            name="password"
            type="password"
            class="form-control"
          />
        </div>
        <div class="form-row mb-3">
          <button type="submit" class="btn btn-block btn-primary">
            Register
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
